{name, "amf"}.
{description, "Erlang Action Message Format Library (erlang-amf)"}.
{homepage, "https://github.com/mujaheed/erlang-amf"}.
{url, {git, "https://github.com/mujaheed/erlang-amf.git", {branch, "master"}}}.
{authors, ["Ruslan Babayev <ruslan@babayev.com>"]}.
{license, "BSD2", "LICENSE"}.
{rebar_compatible, true}.
{applications, [amf]}.
